/* Шрифты */

@font-face {
  font-family: Raleway;
  src: url("fonts/Raleway/Raleway-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Roboto-400;
  src: url("fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Roboto-500;
  src: url("fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Roboto-700;
  src: url("fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Roboto-900;
  src: url("fonts/Roboto/Roboto-Black.ttf");
  font-weight: 900;
}
/* Тело */
body {
  font-family: Roboto;
  color: #212121;
}
/* PORTFOLIO HTML */
/* Шапка */
a {
  text-decoration: none;
}

.line {
  color: #ececec;
}
.logo-text {
  font-size: 26px;
  line-height: 2;
  font-family: Raleway;
  text-decoration: none;
  color: #000000;
}
.logo-item {
  color: #2196f3;
}
.nav-link {
  font-size: 14px;
  line-height: 1.14;
  font-family: Roboto-500;
  color: #212121;
}
.contacts {
  font-family: Roboto-500;
  font-size: 14px;
  line-height: 1.17;
  color: #757575;
}
/* Основное - кнопки филтры */
.button-filter {
  font-family: Roboto-500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
}
.portfolio-h3 {
  font-family: Roboto-700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}
.portfolio-text {
  font-family: Roboto-400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
/* Интерактивные элементы */
li > a:hover,
:focus {
  color: #2196f3;
}
/* Кнопки */
button[type="button"]:hover,
:focus {
  color: #2196f3;
  cursor: pointer;
}
/* Подвал */
.footer-section {
  background-color: #2f303a;
}
.logo-footer {
  font-size: 26px;
  line-height: 2;
  font-family: Raleway;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.03em;
}

.logo-footer-text {
  color: #2196f3;
}
.logo-footer-text-two {
  color: white;
}
.address-item {
  color: white;
  font-family: Roboto-400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}
.contacts-footer {
  font-family: Roboto-400;
  font-size: 14px;
  line-height: 1.71;
  color: #acacb0;
  font-style: normal;
  letter-spacing: 0.03em;
}

/* INDEX HTML */
/* H1 section */
.top-section {
  background-color: #2f303a;
}
.h1-text {
  font-family: Roboto-900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffff;
  font-style: normal;
  letter-spacing: 0.06em;
  text-align: center;
}
.button-h1-section {
  background-color: #2196f3;
}
.h1-section-button-text {
  font-family: Roboto-700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffff;
  font-style: normal;
  letter-spacing: 0.06em;
  text-align: center;
}
/* Наши преимущества */
.our-advantages-list {
  font-family: Roboto-400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.our-advantages-h3 {
  font-family: Roboto-700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
/* Чем мы занимаемся */
.what-we-do-text {
  font-family: Roboto-700;
  font-style: normal;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/* Наша команда */
.our-team-section {
  background-color: #f5f4fa;
}
.our-team {
  font-family: Roboto-700;
  font-style: normal;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-team-name {
  font-family: Roboto-500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-team-profession {
  font-family: Roboto-400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
